/* Jumbotron start */
.main {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(../static/police-crime-background1.jpg) no-repeat 50% 50% !important;
    background-size: cover !important;
    position: relative;
}

.main.segment{
    min-height: 60vh;
}

.masthead p.ui.header {
    margin-top: 12em;
    margin-bottom: 0em;
    font-size: 95%;
    font-weight: normal;
    color: white;
    text-align: left;
}

.masthead h1.ui.header {
    font-size: 2em;
    color: white;
    text-align: left;
}

/* Jumbotron end */

/* Navbar start */
.pointing.menu{
    margin-bottom: 0em;
}

.pg-logo {
    color: white;
    margin-top: 1em;
}
/* Navbar end */

/* Home Page start */
.home {
    padding-top: 8em;
}

.home p {
    padding-bottom: 5em;
}

.graph-div {
    margin-top: 4em;
    margin-bottom: 6em;
}

.fluid.big.ui.simple.dropdown.button {
    font-size: 24px;
    text-align: center;
}

/* Home Page end */

/* About Page start */
.paragraph.animated.fadeInLeft {
    margin-bottom: 2em;
}

/* About Page end */

/* Documentation Page start */
.ui.fluid.image {
    height: 14em;
    width: 17em;
}

.ui.stackable.grid {
    margin-bottom: 2em;
}

/* Documentation Page end */

/* Shared start */
.title {
    padding-top: 2em;
    font-size: 2em;
}

.paragraph {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
    line-height: 1.8;
    margin-bottom: 2em;
}

.header {
    font-family: 'Viga', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
}
/* Shared end */

/* Animation */
.animated{
    -webkit-animation-duration:3s;
    animation-duration:3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

@-webkit-keyframes fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translateX(-200px);
        transform:translateX(-200px)}
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translateX(-200px);
        -ms-transform:translateX(-200px);
        transform:translateX(-200px)}
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}
.fadeInLeft{
    -webkit-animation-name:fadeInLeft;
    animation-name:fadeInLeft
}